modules/state-machine/step-machine-definitions/import-data-state-machine-definition.json
{
  "Comment": "Iterator configuration",
  "StartAt": "ConfigureCount",
  "States": {
    "ConfigureCount": {
      "Type": "Pass",
      "Result": 119,
      "ResultPath": "$.count",
      "Next": "ConfigureIterator"
    },
    "ConfigureIterator": {
      "Type": "Pass",
      "Result": {
        "index": 0,
        "step": 1
      },
      "ResultPath": "$.iterator",
      "Next": "BucketStructureBuilder"
    },
    "BucketStructureBuilder": {
      "Type": "Task",
      "Resource": "${lambda-s3-structure-builder-arn}",
      "Next": "Iterator"
    },
    "Iterator": {
      "Type": "Task",
      "Resource": "${lambda-iterator-arn}",
      "ResultPath": "$.iterator",
      "Next": "IterateItems"
    },
    "IterateItems": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.iterator.continue",
          "BooleanEquals": true,
          "Next": "CopyItem"
        }
      ],
      "Default": "Done"
    },
    "CopyItem": {
      "Type": "Task",
      "Resource": "${lambda-worker-arn}",
      "Next": "Iterator"
    },
    "Done": {
      "Type": "Pass",
      "End": true
    }
  }
}